ffmpeg-python>=0.2.0
numpy>=1.16, <=1.23.5
torch>=2.5.1
torchvision>=0.20.1
tqdm>=4.35.0
opencv-python>=4.1.2
cupy-cuda11x
decorator==5.1.1
easydict==1.9
einops==0.6.1
imageio==2.31.2
importlib-metadata==6.7.0
oauthlib==3.2.2
omegaconf==2.3.0
packaging==23.2
pickleshare==0.7.5
Pillow==9.5.0
protobuf==3.20.0
safetensors==0.4.2
scikit-image==0.19.3
scikit-learn==0.24.0
scipy==1.7.3
tensorboard==2.3.0
tensorboard-plugin-wit==1.8.1
timm==0.4.12
typing_extensions==4.7.1
yacs==0.1.6